{% extends "users/base.html" %} {% block title %} Home Page {% endblock title%} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">خوش امدی, {{user.first_name.title|default:'Guest'}}</h1>
    <p class="lead">
        <b>سیستم ثبت نام و ورود کاربر</b>
    </p>
    <hr class="my-4">
    <p class="lead">
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">خارج شدن</a> {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">وارد شدن</a> {% endif %}
    </p>
</div>

{% endblock content %}